.back-cover {
  width: 100%;
  height: 100%;
  position: absolute;
}

.bc-img {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  cursor: w-resize;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front-cover {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: yellow;
  overflow: auto;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#card .front-cover {
  z-index: 1000;
  pointer-events: auto;
}
#card .back-cover {
  z-index: 500;
  pointer-events: none;
}

#card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#card.flipped .front-cover {
  z-index: 500;
  pointer-events: none;
}
#card.flipped .back-cover {
  z-index: 1000;
  pointer-events: auto;
}

#card .back-cover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.interface {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 230px;
  height: auto;
  background: rgba(255, 0, 255, 0.9);
  padding: 20px;
}

textarea, input {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  border: none;
}

textarea {
  height: 100px;
}

.image-preview {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 0, 0.6);
  background-size: contain;
  margin-bottom: 20px;
}

.image-loading {
  padding: 10px 0;
  font-size: 10px;
  display: none;
}

.users {
  position: fixed;
  bottom: -150px;
  left: 10px;
  z-index: 10;
  font-weight: 800;
  font-family: helvetica, 'Helvetica', Arial, sans-serif;
  line-height: 1;
}

.users .numb {
  color: rgba(255, 0, 0, 0.4);
  font-size: 900px;
}

.users .word {
  color: rgba(0, 0, 255, 0.4);
  font-size: 90px;
  position: absolute;
  bottom: 300px;
  right: 40px;
}

#messages {
  text-align: center;
  position: relative;
  z-index: 500;
}

.jam {
  width: 230px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 40px;
}

.jam img {
  max-width: 100%;
  height: auto;
  cursor: help;
}

.jam.texter .message {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding-bottom: 13px;
  border-bottom: 30px solid rgba(255, 100, 200, 0.7);
  cursor: zoom-in;
}
.jam.texter.bigtext .message {
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  transform: scale(3);
  border-color: rgba(60, 255, 0, 0.5);
  cursor: zoom-out;
}
