body {
	background-color: yellow;
}

#messages {
	text-align: center;
	position: relative;
	z-index: 50;
}

.jam {
	width:230px;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	margin:40px;
}
.jam img {
	max-width: 100%;
	height: auto;
}


.interface {
	position: fixed;
	bottom:20px;
	right:20px;
	z-index: 100;
	width: 230px;
	height: auto;
	background: rgba(255,0,255,.9);
	padding:20px;
}

textarea, input {
	width: 100%;
	display: block;
	margin-bottom: 20px;
	border:none;
}

textarea {
	height: 100px;
}
.image-preview {
	width:100px;
	height: 100px;
	background-color: rgba(255,255,0,.6);
	background-size: contain;
	margin-bottom: 20px;

}

.image-loading {
	padding:10px 0;
	font-size: 10px;
	display: none;
}

.users {
	position: fixed;
	bottom:-150px;
	left:10px;

	z-index: 10;

	font-weight:800;
	font-family: helvetica, 'Helvetica', Arial, sans-serif;
	line-height: 1;
}
.users .numb {
	color:rgba(255,0,0,.4);
	font-size: 900px;	
}
.users .word {
	color:rgba(0,0,255,.4);
	font-size: 90px;
	position: absolute;
	bottom:300px;
	right:40px;
}
/*
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; margin-bottom:100px; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
*/