.back-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    //background-color: aqua; 
}

.bc-img {
    width: 100%;
    height: 100%;
    position: absolute;
    //background-color:red;
    background-position:center;
    cursor:w-resize;
   // background-size:contain;
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;	
}
