
.interface {
	position: fixed;
	bottom:20px;
	right:20px;
	z-index: 1000;
	width: 230px;
	height: auto;
	background: rgba(255,0,255,.9);
	padding:20px;
	//display:none;
}

textarea, input {
	width: 100%;
	display: block;
	margin-bottom: 20px;
	border:none;
}

textarea {
	height: 100px;
}
.image-preview {
	width:100px;
	height: 100px;
	background-color: rgba(255,255,0,.6);
	background-size: contain;
	margin-bottom: 20px;

}

.image-loading {
	padding:10px 0;
	font-size: 10px;
	display: none;
}