#messages {
	text-align: center;
	position: relative;
   // background-color: yellow;
    z-index: 500;
}
.jam {
	width:230px;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	margin:40px;
}
.jam img {
	max-width: 100%;
	height: auto;
	cursor: help;	
}

.jam.texter {
	.message {
		@include transform(scale(1));
		@include transition(all .2s ease-in);
		padding-bottom:13px;
		border-bottom: 30px solid rgba(255,100,200,.7);
		cursor:zoom-in;
	}
	&.bigtext {
		.message {
				@include transform(scale(3));
				border-color:rgba(60,255,0,.5);
				cursor:zoom-out;

		}
	}
}