    .container {
      position: fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      -webkit-perspective: 800px;
         -moz-perspective: 800px;
           -o-perspective: 800px;
              perspective: 800px;
    }

    #card {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transition: -webkit-transform 1s;
         -moz-transition: -moz-transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
              .front-cover {
                z-index: 1000;
                pointer-events:auto;
              }

              .back-cover{
                z-index: 500;
                pointer-events:none;
              }
            
    }

    #card.flipped {
      -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
              .front-cover {
                z-index: 500;
                pointer-events:none;
              }
              .back-cover{
                z-index: 1000;
                pointer-events:auto;
              }

    }

    #card .front-cover {
    }

    #card .back-cover {
      -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
    }