.front-cover {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: yellow;
    overflow: auto;
	.front-content {
	    //width: 100%;
	    //height: 100%;
	    //position: absolute;		
	}
}
