
.users {
	position: fixed;
	bottom:-150px;
	left:10px;
	z-index: 10;
	font-weight:800;
	font-family: helvetica, 'Helvetica', Arial, sans-serif;
	line-height: 1;
	//display:none;
}
.users .numb {
	color:rgba(255,0,0,.4);
	font-size: 900px;	
}
.users .word {
	color:rgba(0,0,255,.4);
	font-size: 90px;
	position: absolute;
	bottom:300px;
	right:40px;
}